.loader_block {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  img {
    width: 5vw;
    height: 5vw;
  }
}
