.zals-page {
  padding: 1vw;
  margin: 3vw auto;
  background: #fff;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
  border-radius: 0.5vw;

  h1 {
    margin-bottom: 2vw;
  }

  .zals-list {
    display: flex;
    flex-flow: row wrap;
  }

  .zal-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16vw;
    height: 16vw;
    margin-left: 1vw;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    font-size: 1.2vw;

    p {
      color: #eee;
      font-weight: bold;
      font-size: 2vw;
    }

    &:hover p {
      color: #007bff;
    }


    &:first-child {
      margin-left: 0;
    }
  }
}
