.admin-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin-bottom: 1vw;
  border: 1px solid  rgba(0, 0, 0, 0.3);
  padding: 0.5vw;

  .admin-user-item {
    label {
      margin-bottom: 0.2vw;
    }
  }
}
