/*=================FONTS====================*/
@import url('https://fonts.googleapis.com/css?family=Roboto:light,regular,medium,bold&subset=cyrillic');
body *{
  font-family: Roboto, Arial, 'sans-serif', serif !important;
  font-size: 0.8vw;
  line-height: 0.81vw;
  font-weight: 500;
  color: #000;
}
/*=========================================*/
