@import "./fonts.scss";
@import "./clear.scss";
@import "./main.scss";
@import "./media.scss";

.main_wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 80%;
  min-height: 100%;

  @include respond-before(tablet) {
    margin: 2vw;
    max-width: 100%;
  }
}
