body {
  background: #EEE;
}

button {
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 0.8vw;

  a {
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

h1 {
  font-size: 2.2vw;
  font-weight: bold;
  text-align: center;
}
