//======== MEDIA RESPOSES =======
$phone  : 497px;
$tablet : 768px;
$normal : 1018px;
$wide   : 1218px;

@mixin respond-before($media) {
  @if $media == phone {
    @media (max-width: $phone - 1) { @content; }
  }
  @else if $media == tablet {
    @media (max-width: $tablet - 1) { @content; }
  }
  @else if $media == normal {
    @media (max-width: $normal - 1) { @content; }
  }
  @else if $media == wide {
    @media (max-width: $wide - 1){ @content; }
  }
  @else {
    @media (max-width: #{$media - 1}px){ @content; }
  }
}
@mixin respond-after($media) {
  @if $media == phone {
    @media (min-width: $phone) { @content; }
  }
  @else if $media == tablet {
    @media (min-width: $tablet) { @content; }
  }
  @else if $media == normal {
    @media (min-width: $normal) { @content; }
  }
  @else if $media == wide {
    @media (min-width: $wide){ @content; }
  }
  @else {
    @media (min-width: #{$media}px){ @content; }
  }
}
