$zalUserFontSize: 3vw;
$zalUserSmallFontSize: 2vw;
$zalUserItemPadding: 2vw 1.4vw;

.zal-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2vw 0;
  background: #fff;
  border-radius: 0.6vw;
  box-shadow: 0 0 10px 0 #eee;

  &.editable {
    padding: 1.5vw;
  }

  &.guest {
    .zal-user-name {
      display: flex;
      align-items: center;

      b {
        font-style: italic;
        font-size: $zalUserFontSize;
        line-height: $zalUserFontSize;
        color: #444;
      }

      span {
        display: inline-block;
        padding: $zalUserItemPadding;
        min-width: 6vw;
        border-right: 0.1vw solid #ccc;
        color: #444;
        margin-right: 2vw;
        font-size: $zalUserSmallFontSize;
        line-height: $zalUserFontSize;
        font-weight: 200;
      }
    }

    .zal-user-score {
      display: inline-block;
      text-align: center;
      padding: $zalUserItemPadding;
      font-weight: bold;
      font-size: $zalUserFontSize;
      min-width: 13vw;
      border-left: 0.1vw solid #ccc;
    }
  }

  .score-edit {
    display: flex;
    align-items: center;

    span {
      display: inline-block;
      font-weight: bold;
      font-size: 25px;
      text-align: center;
      margin: 0 15px;
      min-width: 60px;
    }

    button {
      padding: 0;
      margin: 0;
      text-align: center;
      font-size: 25px;
      line-height: 22px;
      font-weight: bold;
      height: 40px;
      width: 40px;
    }
  }
}
