.admin-zal-item {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 1vw;
}

.admin-zal-item-block {
  padding: 0.8vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  > label {
    font-weight: bold;
    margin-bottom: 0.5vw;
  }

  .save-action {
    margin-left: 0.5vw;
  }

  &.inline {
    display: flex;
    align-items: center;

    label {
      margin-bottom: 0;
      margin-right: 1vw;
    }
  }

  .flex-list {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
  }

  .zal-user-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 1vw;

    &:first-child {
      margin-left: 0;
    }

    span {
      display: inline-block;
    }

    [type="checkbox"] {
      margin: 0 0.3vw 0 0;
    }
  }
}
