@import "../../components/main-wrapper/media";

.zal-page {
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin: 2vw 0;
  }

  .home-link {
    display: block;
    position: fixed;
    top: 1vw;
    left: 1vw;
    width: 3vw;
    height: 3vw;
    z-index: 1;
    background: url(/img/home.svg) no-repeat;
  }

  h1 {
    display: inline-block;
    font-size: 5vw;
    font-weight: bold;
    text-transform: uppercase;
    color: #007bff;
    padding: 1vw;
    background: rgba(255, 255, 255, 0.7);
  }

  .zal-page-main-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    z-index: -1;
  }

  .zal-wrapper {
    margin: 1vw 0;
  }

  .zal-actions {
    text-align: center;
  }


  @include respond-before(tablet) {
    padding: 2vw;
  }
}
