.login-form {
  margin: 1vw;
  padding: 1vw;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
  border-radius: 0.5vw;

  .login-input-group {
    margin-bottom: 0.5vw;
  }

  .input-group-text {
    min-width: 4vw;
  }
}
