.main-page-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;

  > div {
    min-width: 20vw;
  }

  h1 {
    text-align: center;
    margin-bottom: 1vw;
  }

  button {
    width: 100%;
    margin-bottom: 0.5vw;
  }
}
