.admin-preview-image-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0,0,0,0.5);
  margin-left: 0.5vw;

  &:first-child {
    margin-left: 0;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  &.active {
    border: 2px solid #6bff6f;
  }
}

.admin-page-wrapper {
  margin-top: 2vw;
  background: #fff;
  padding: 1vw;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);

  .admin-page-content {
    position: relative;
    min-height: 40vw;
    background: #fff;
    padding: 1vw;
    border: 1px solid #dee2e6;
  }

  .nav-link.active {
    position: relative;
    background: #fff;
    top: 2px;
    z-index: 2;
  }

  .admin-add-new-user {
    text-align: center;
    margin-bottom: 1vw;
  }
}

.admin-photos-saver {

  .upload-block {
    position: relative;
    padding: 0.8vw;
    border: 1px solid rgba(0, 0, 0, 0.2);

    .title {
      margin-bottom: 0.5vw;
      font-weight: bold;
    }

    .prepare-files-list {
      display: flex;
      align-items: center;
      flex-flow: row wrap;
      margin: 1vw 0;
    }
  }

  .image-item {
    margin-left: 0.5vw;

    &:first-child {
      margin-left: 0;
    }

    button {
      margin-top: 0.5vw;
      width: 100%;
    }
  }

}
